body {
    background: conic-gradient(from .5turn at 50% 110%, white, orange);
    overflow: hidden;
    background-repeat: no-repeat;
    height: 100vh;
}

.container {
    height: fit-content;
    display: flex;
    justify-content: center;
}

.nav {
    display: block;
    margin: auto;
    height: fit-content;
    width: 95%;
    height: auto;
}

.nav h2,
.user-input,
.button {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

#input:hover {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-animation: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
}

.nav h2 {
    font-size: 4rem;
}

#input {
    padding: 5px;
    margin-top: 50px;
    width: 25%;
    height: 40px;
    border-radius: 20px;
    font-family: "Sofia", sans-serif;
    font-size: 30px;
}


#button {
    box-shadow: 0px 1px 0px 0px #fff6af;
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color: #ffec64;
    border-radius: 20px;
    border: 1px solid #ffaa22;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-family: Arial;
    font-size: 23px;
    font-weight: bold;
    padding: 10px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
}

#button:hover {
    background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    background-color: #ffab23;
}

#button:active {
    position: relative;
    top: 1px;
}

.list {
    display: flex;
    justify-content: center;

}

.to-do-items {
    padding: 20px;
    min-width: 600px;
    max-width: 100%;
    height: auto;
    margin: auto;
    height: auto;
}

.item {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin: 5px;
    background: #fff6af;
    padding: 5px;
    width: 100%;
    height: auto;
    border-radius: 20px;
    font-family: "Sofia", sans-serif;
    font-size: 30px;
}

.item:hover {
    box-shadow: 0 0 20px #e22865;
    border: 1px solid #e22865;
}

.item i {
    cursor: pointer;
    margin: 0 8px;
}